doctype html
html(lang='en')
  head
    //<link rel="stylesheet" type="text/css" href="/css/SignUp.css" />
    script(src='../kinetic-sdk-1.0.1.min.js')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")    
  body
    if session.loggedin
      include ./partials/loggedin
    else
      include ./partials/nologin
    link(rel='stylesheet', href='style.css')
    .userloginforms
      form.signupContainer(method="POST" action="/SignUp")
        p
          h1 Create Account
          label(for='name')
              b Name: 
          input#nameCr(type='text' placeholder='Enter Username' name='name' required='')
          |
        p
          label(for='psw')
              b Password: 
          input#pswCr(type='password' placeholder='Enter Password' name='password' required='')
          br
          br
          button.btn.createAcc(type='submit') Create your new account

      form.logInContainer(method="POST" action="/logIn")
        h1 Log In
        p
          label(for='name')
              b Name: 
          input#name(type='text' placeholder='Enter Username' name='name' required='')
        |
        p
          label(for='psw')
              b Password: 
          input#psw(type='password' placeholder='Enter Password' name='password' required='')
          br
          br
          button.btn.createAcc(type='submit' onclick='stopTracking()') log in

      button.btn.startTrack(type='submit' onclick='startTracking()') Start Tracking   
    script(src='../client.js')
    //script(src='../kinetic-sdk-1.0.1.min.js')
    //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
